@model IdentitySample.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>
    Use outro serviço para efetuar login.
</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Não há serviços de autenticação externos configurados. Veja <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                para obter detalhes sobre como configurar esse aplicativo ASP.NET para suportar o login por meio de serviços externos.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Login usando seu @p.Caption conta">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
